.begin {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    animation: move-to-right 1s forwards 1s;
}

.begin.inative {
    display: none;
}

@keyframes move-to-right {
    to {
        transform: translate3d(100%, 0, 0);
    }
}

.begin svg {
    max-width: 50%;
    animation: rotate-and-move 2s forwards;
}

@keyframes rotate-and-move {
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: translate3d(150%, 0, 0);
    }
}

.begin svg .dollar {
    opacity: 1;
    animation: anime-dollar .5s infinite alternate;
}

@keyframes anime-dollar{
    to {
        opacity: 0;
    }
}




