body.dark-mode {
    background: var(--black);
}

p.dark-mode,
label.dark-mode,
a.dark-mode,
span.dark-mode,
input.dark-mode {
    color: var(--white);
}

.letters.dark-mode {
    fill: var(--white);
}

section.dark-mode {
    background: var(--black-section);
}

[type="number"].dark-mode {
    background: var(--black);
}

.form .item-list-radio .radio label.dark-mode{
    color: var(--white);
}

[type="radio"].dark-mode {
    background: var(--black);
}

[type="text"].dark-mode {
    background: var(--black);
}

.final-result.dark-mode {
    color: var(--primary-color);
}