@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import 'begin.css';
@import 'variables.css';
@import 'dark-mode.css'; 
@import 'modal.css'; 

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
}


ul {
    list-style: none;
}

p, label, a, span, input {
    color: var(--black);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}


input {
    font-size: 1.125rem;
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    animation: left-to-rigth .5s forwards;
}

@keyframes left-to-rigth {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

a {
    text-decoration: none;
    color: var(--second-color);
}

a:hover {
    color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40rem;
    margin: 2rem auto 5rem auto;
}

.header .logo svg {
    width: 9.5rem;
    height: 2.9rem;
}

.header .switch {
    padding: 15px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 5px var(--primary-color));
}

.header .switch.active {
    filter: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
}

.title {
    margin-bottom: 5rem;
}

.title .logo svg{
    max-width: 17.5rem;
    max-height: 4rem;
}


.title p {
    text-align: center;
    font-size: 1.125rem;
}

.paragraph {
    align-self: flex-start;
    margin-bottom: 2.5rem;
}

.form { 
    padding: 3.6rem 2.5rem;
    width: 40rem;
    background: var(--white-section);
    border-radius: .625rem;
}


.form .item-list  {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.form .item-list label, .form .item-list-radio p  {
    margin-bottom: 1rem;
}

[type="number"] {  
    width: 10rem;
    background: var(--white);
    border: none;
    padding: .5rem;
    border-radius: 3.125rem;
    text-align: center;
    outline: none;
    border: 1px solid transparent;
}


[type="number"]:focus, [type="text"]:focus {
    border: 1px solid var(--primary-color);
}

.form .item-list-radio {
    margin-bottom: 2.5rem;
}

.form .item-list-radio .radio {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form .item-list-radio .radio label {
    cursor: pointer;
}

.form .item-list-radio .radio label {
    color: var(--black);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}


[type="radio"] {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background: var(--white);
    border: 1px solid transparent;
    position: relative;
    outline: none;
    cursor: pointer;
}

[type="radio"]::before {
    position: absolute;
    content: '';
    display: block;
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    background: var(--primary-color);
    opacity: 0;
}

[type="radio"]:checked::before {
    opacity: 1;
}

[type="radio"]:focus {
    border: 1px solid var(--primary-color);
}

[type="text"] {  
    width: 20rem;
    background: var(--white);
    border: none;
    padding: .5rem;
    border-radius: 3.125rem;
    text-align: center;
    outline: none;
    border: 1px solid transparent;
}

.item-others {
    /* display: none; */
    margin-bottom: .5rem;
}

.item-others p {
    display: none;
}

.item-others:nth-last-child(2) > p.error {
    display: block;
    margin-top: .3rem;
    font-size: .6rem;
    color: red;
}

.item-others:nth-last-child(2).error {
    margin-bottom: .5rem;
    border: 1px solid transparent;
    animation: error .5s;
}

@keyframes error {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translate(10px);
        border: 1px solid red;
    }
    50% {
        transform: translate(0px);
    }
    75% {
        transform: translate(10px);
    }
    100% {
        transform: translate(0px);
    }
}

.item-others .trash {
    width: 13px;
    cursor: pointer;
}

.item-others .trash:hover {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
}

.add-other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    border: none;
    background: var(--primary-color);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in-out;
}

.add-other:hover {
    background: var(--second-color);
}


.btn {
    display: block;
    margin: 0 auto;
    width: 15rem;
    height: 4rem;
    border-radius: .625rem;
    border: none;
    background: var(--primary-color);
    font-size: 1.25rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--white);
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn:hover {
    background: var(--second-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    margin: 5rem auto 1rem;
}

footer img {
    max-width: 8rem;
    /* align-self: flex-end; */
}

footer img:hover {
    filter: drop-shadow(2px 2px 2px var(--primary-color));
}

footer .mkl {
    display: flex;
    align-items: center;
    gap: .5rem;
}

footer .mkl p, a {
    font-size: 1rem;
}

@media screen and (max-width: 750px) {
    .header, main, .form, footer {
        width: 20rem;
    }

    p, label, a, span {
        font-size: 1rem;
    }
    
    input {
        font-size: .875rem;
    }

    .header {
        margin: 1rem auto 2.5rem auto;
    }

    .header .logo svg {
        width: 7rem;
    }

    .title {
        margin-bottom: 4rem;
    }

    .title p {
        font-size: .875rem;
    }
    
    .paragraph {
        margin-bottom: 1rem;
    }

    .form { 
        padding: 2rem 1.5rem;
    }

    .form .item-list-radio .radio label {
        font-size: .875rem;
    }
    
    [type="radio"] {
        width: 1rem;
        height: 1rem;
    }
    
    [type="radio"]::before {
        width: .5rem;
        height: .5rem;
    }

    .item-others [type="text"] {
        width: 10rem;
    }

    .item-others [type="number"] {
        width: 5rem;
    }

    .item-others [type="text"]::placeholder, .item-others [type="number"]::placeholder {
        font-size: .8rem;
    }

    .add-others {
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.25rem;
        margin-top: .5rem;
    }

    .btn {
        width: 8rem;
        height: 3rem;
        font-size: .875rem;
    }

    footer {
        margin-top: 2rem;
    }

    footer img {
        max-width: 4rem;
    }
    
    footer .mkl p, a {
        font-size: .6rem;
    }
}

@media screen and (max-width: 359px) {
    .header, main, .form, footer {
        width: 16rem;
    }

    .item-others [type="text"] {
        width: 6rem;
    }

    .item-others [type="number"] {
        width: 5rem;
    }

    .item-others [type="text"]::placeholder, .item-others [type="number"]::placeholder {
        font-size: .8rem;
    }

    footer img {
        display: block;
    }
    
    footer .mkl {
        display: block;
    }
}